ul {
    list-style-type: none;
    }

ul li {
    background-color:aqua;
    width: 250px;
    height: 80px;
    text-align: center;
    margin:50px;
}

ul li input {
    width: 60px;
    height: 20px;
}

/*div {
    display: flex;
    flex-direction: row;
    background-color:aqua;
    width: 140px;
    height: 20px;
    text-align: center;
}*/